*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    margin:0;
    padding:0;
    background-color: #161917;
}

h5 {
    text-align:center;
    padding-left: 2%;
    font-size: large;
}

.caja-flexible {
    padding: 20px;
}

.contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.texto-somos, .salon-imagen {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}

.texto-somos {
    padding-right: 20px;
    text-align: left;
    font-size: 20px;
}

.salon-imagen {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 1200px) {
    .texto-somos {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .contenido {
        flex-direction: column;
        text-align: center;
    }

    .texto-somos {
        padding-right: 0;
    }
}

@media (max-width: 700px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-links {
        padding: 10px;
    }

    .navbar-logo img {
        height: 40px;
    }
}

@media (max-width: 480px) {
    .texto-somos {
        font-size: 16px;
    }

    .footer {
        padding: 40px 20px;
    }

    .back-to-top {
        width: 40px;
        height: 40px;
        font-size: 20px;
        top: -10px;
        right: 10px;
    }
}

.navbar {
    background-color:rgba(7, 7, 7, 0.938);    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-logo img {
    height: 50px;
}

.navbar-links {
    color: #AB793E;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    text-align: center;
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: #AB793E;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar-links a:hover {
    background-color: #AB793E;
    color: #161917;
}

.logo-grande {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    padding: 80px 20px 10px;
    text-align: center;
    background:black;
    color: #AB793E ;
}

.red-social{
color: #f5f1f1;
background-color: black;
position: relative;
text-align: center;
padding-bottom: 50px;
}

.red-social a:hover {
    color: #AB793E;
}

.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
    font-size: 25px;
    margin-bottom: 20px;
}

.back-to-top {
    position: absolute;
    top: -20px; 
    right: 20px;
    background-color: #161917;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-size: 24px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}